/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html{
    text-align: center!important;
}

/* Fixing size of FIRST img on cover-image */

.container-fluid{
    padding-right: 0px !important; 
    padding-left: 0px !important; 
    margin-right: 0px !important; 
    margin-left: 0px !important; 
}
